@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      use-system-variables: true,
    ),
    typography: (
      brand-family: 'Roboto',
      plain-family: 'Roboto',
      use-system-variables: true,
    ),
    density: (
      scale: 0,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      use-system-variables: true,
    ),
    typography: (
      brand-family: 'Roboto',
      plain-family: 'Roboto',
      use-system-variables: true,
    ),
    density: (
      scale: 0,
    ),
  )
);

:host {
  @include mat.system-level-colors($light-theme);
  @include mat.system-level-typography($light-theme);
  @include mat.all-component-themes($light-theme);

  color-scheme: light;
}

:host(.dark-mode) {
  @include mat.system-level-colors($dark-theme);
  @include mat.system-level-typography($dark-theme);
  @include mat.all-component-themes($dark-theme);

  color-scheme: dark;
}

:host *,
:host *::before,
:host *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
